# This is Git's per-user configuration file.
[core]
   excludesFile = /Users/cas/.gitignore
   pager = delta
[user]
   name = Casper Ravenhorst
   email = casper@sinedub.io
[pull]
   rebase = false
#[pager]
   #branch = false
[alias]
   unadd = reset HEAD --
   pickable = log --oneline --cherry-pick --right-only --reverse
   jump = "!$(brew --prefix git)/share/git-core/contrib/git-jump/git-jump"
[push]
   autoSetupRemote = true
[interactive]
   diffFilter = delta --color-only
[delta]
   hyperlinks = true
   navigate = true
   light = false
   side-by-side = true
   line-numbers = true
[merge]
   conflictstyle = diff3
[diff]
   colorMoved = default
[init]
   defaultBranch = main
